<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.parkme">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="ParkMe"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParkMe"
        tools:targetApi="31">

        <activity
            android:name=".Locations.demo"
            android:exported="false" />

        <activity
            android:name=".Locations.razorpay"
            android:exported="false" />

        <activity
            android:name=".BookingSaveActivities.SaveActivity"
            android:exported="false" />
        <activity
            android:name=".OtherActivities.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".OtherActivities.RateActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegisterActivities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Others.PlaceAutoSuggestAdapter"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".LoginRegisterActivities.forgotpassword"
            android:exported="false" />
        <activity
            android:name=".OtherActivities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_map_api_key" />

        <activity
            android:name=".LoginRegisterActivities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegisterActivities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>